// entry page style
.popup
	position: relative
	+s(popup-bg)
	text-align: center
	.popup-i
		width: 430px
		margin-left: 180px
		padding-top: 55px
	.popup__close
		+s(i-close)
		+transition(0.2ms)
		&:hover
			+s(i-close_h)
			+transition(0.2ms)
		position: absolute
		top: 20px
		right: 20px
		cursor: pointer
	.h2
		+fs(40)
		color: $purple
	p
		line-height: 1
		margin-bottom: 15px
		color: #000 
		+fs(18)

// input
.input
	padding: 6px 10px
	outline: none
	border: 2px solid #ca9bc6
	+br(3px)
	+transition(.2ms)
	+fs(24)
	+hel
	&:hover
		+box-shadow(0 0 5px rgba(255,255,255, 1))
	&:focus
		+box-shadow(0 0 8px rgba(255,255,255, 1))

.select-checkbox
	position: relative
	display: inline-block
	color: #f0f4f5
	cursor: pointer
	span
		display: inline-block
		margin-left: 15px
		+fs(18)
		color: #000 !important
		+unselect
		vertical-align: middle
		+het
	input
		+opacity(0)
		vertical-align: middle
	input + span
		&:before
			content: ""
			height: 17px
			width: 17px
			border: 2px solid #ca9bc6
			+br(5px)
			position: absolute
			top: 3px
			left: 0px
			font-size: 12px 
			color: #7C7A77
			background: #fff
			
	input:checked + span
		&:after
			content: ""
			position: absolute
			top: 9px
			left: 4px
			+s(ch_checked2)
			z-index: 9999

.btn
	display: inline-block
	vertical-align: middle
	&:hover
		text-decoration: none !important
.btn_auto
	width: 100%
	height: 44px
	line-height: 44px
	padding: 0 25px 0 60px
	font-family: Arial, sans-serif
	font-size: 18px
	font-weight: bold
	background: url(../img/icons/btn.png) 0px 0px repeat-x
	color: #FFF !important
	text-decoration: none
	position: relative
	border: none
	outline: none
	+box
	+br(3px)
	&:before
		content: ""
		position: absolute
		left: 25px
		top: 9px
		+s(ok)
	&:hover
		background: url(../img/icons/btn_h.png) 0px 0px repeat-x
		@include text-shadow(0 0 5px rgba(255,228,250,.32))
		&:before
			+s(ok_h)

.row
	margin: 28px 0
// form
.form
	width: 285px
		margin-top: 50px
	.input
		width: 100%
	.form__note
		color: #777
		+fs(13)
		+het
		p
			margin-bottom: 15px

// popup
.overlay
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	background: rgba(255,255,255, .95)
	z-index: -1
	opacity: 0
	+transition(all .3s linear)
	&.is-active
		opacity: 1
		z-index: 1000

.popup2
	position: fixed
	width: 870px  - 42px - 71px
	left: 50%
	top: 50%
	margin-left: -435px
	margin-top: -300px
	z-index: -1
	+opacity(0)
	background: #E2E2E2 url(../img/bg.jpg) repeat 0 0
	border-radius: 18px
	+transform(translate3d(0,-700px,0))
	+transition(all .3s ease-in)
	padding: 30px 42px 30px 71px
	&:before
		height: 52px
		bottom: -52px  
		position: absolute
		left: -30px 
		width: 100%
		content: ' ' 
		background: url(../img/popupshadow.png) no-repeat 50% 0 
	&.is-active
		opacity: 1
		z-index: 1001
		+transform(translate3d(0,0,0))
	.popup__content
		height: 250px 
		overflow: auto
		font-size: 16px 
		line-height: 1.2 
		h3
			font-size: 16px 
			font-weight: normal
			margin: 30px 0
		ul
			list-style: none 
			padding-right: 30px 
			+hel
			strong
				font-weight: normal
				color: #A02277 
			li
				margin-bottom: 8px 
	.popup-i
		position: relative
		padding: 15px
	.popup__close
		position: absolute
		top: 30px
		right: 30px
		+s(closeme)
		cursor: pointer
		z-index: 100 
			
	.popup__title
		color: #000
		line-height: 1.2
		margin-top: 0 
		margin-bottom: 14px 
		+hel
		font-size: 40px 
		span
			color: #A02277 

	
.forma
	margin-top: 10px 
	+clr
	.forma__supercar
		float: right
	.forma__form
		float: left
		width: 283px 
		padding-top: 64px 
	.forma__input
		border: 2px solid #C99CC5 
		border-radius: 4px
		background: #fff 
		+hel
		font-size: 24px 
		padding: 5px 10px
		width: 283px - 4px - 20px
		margin-bottom: 27px   
	.forma__check
		font-size: 18px 
		margin-bottom: 30px 
		+hel
		input
			margin-right: 10px 
		*
			vertical-align: middle
	.forma__submit
		+s(button)
		font-weight: normal
		font-size:  18px
		text-transform: uppercase
		color: #fff
		overflow: hidden
		line-height: 50px  
		span
			display: block
			padding-left: 15px  
		input
			opacity: 0
			position: absolute
			left: 0
			top: 0
			width: 290px
			height: 60px  
	.forma__note
		font-size: 13px    
		color: #777 
		+hel
		padding-left: 28px 